body {
    background-color: #fbfbfb;
    margin-left: 20px;

}

h1 {

    color: #EDC9FF;
}

h2 {
    color: #3F612D;
}

p1 {
    color: #1D1128;
}

p {

    color: #1D1128;
}

img {
    width: 20%;

}

ul {
    text-align: center;
    font-size: 1.5em;

}

li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #1D1128;
}

nav {
    margin: 0 auto;

}

.footer-text {
    font-size: 12px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}



.about-img {
    flex-shrink: 0;
    margin-right: 20px;
    width: 100rem;
}

.center-frog {
    display: flex;
    justify-content: center;
    border-radius: 10%;

}



.animation-frog {
    z-index: 99;
}

.animation-frog:hover {
    animation-name: frog;
    animation-duration: 2s;

}

@keyframes frog {
    0% {
        background-color: red;
        transform: translateY(0);
    }


    50% {
        background-color: yellow;
        transform: translateY(-20px);
    }

    100% {
        background-color: green;
        transform: translateY(0);
    }
}