body {
    background-color: #fbfbfb;
    margin-left: 20px;

}

h1 {

    color: #EDC9FF;
}

h2 {
    color: #3F612D;
}

p1 {
    color: #1D1128;
}

p {

    color: #1D1128;
}

img {
    width: 30%;

}

ul {
    text-align: center;
    font-size: 1.5em;

}

li {
    display: inline-block;
    padding: 30px;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #1D1128;
}

nav {
    margin: 0 auto;
}

.projects-img {
    flex-shrink: 0;
    margin-right: 20px;
    width: 100%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 10px;

}

.projects img {
    width: 50%;

}

.projects div a {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.projects div {
    margin: auto;
}