
body {
    background-color: rgb(35, 31, 34);
    margin: 8px;
}
h1 {

    color: rgb(255, 157, 173);
}
p1 {
    color: antiquewhite;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
img {
    width: 50%; 
    
}

li {
    display: inline-block;
    margin: 20px;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:antiquewhite;
}
nav {
    margin:  0 auto;

}
.footer-text {
    font-size: 12px;
}